@keyframes appear{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html, body {
	font-family: sans-serif;
	background: #f4f0ec;
  margin: 0px;
  padding: 0px;
  font-size: clamp(14px, 1.2vw + 0.5rem, 18px);
}

hr {
  margin-top: 0px;
  animation-duration: 60s;
  animation-name: appear;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif, sans-serif;
  padding-bottom: 0px;
  border-bottom: 0px;
}

aside {
  display: none;
}

@media (width >= 768px) {
  aside {
    display: flex;
    flex-direction: column;
    background-color: #ccc5d0;
    width: 30%;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  nav.sidebar::after {
    color: black;
    display: block;
    background-color: black;
    height: 5px;
    width: 80%;
    content: "";
    margin: 0.2em auto 1em;
  }

  nav.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  nav a, nav a:hover, nav a:visited, nav a:active, nav a:focus {
    font-family: serif, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #333333;
    text-decoration: none;
  }

  nav a:hover {
    color: gray;
  }
  
  aside footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10%;
  }

  footer div.socials {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-bottom: 20px;
  }

  aside footer a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding: 2px 8px 0;
  }


  aside footer > div.socials > * {
    border: 3px solid black;
    font-family: serif, sans-serif;
    transition-duration: 0.4s
  }

  aside footer > div.socials > *:hover {
    transform: translateY(-5px);
    color: gray;
  }
  

  body > header {
    margin-left: 30%;
    width: calc(100% - 30%);
  }
  main {
    margin-left: 30%;
    width: calc(100% - 30%);
  }
}

header.hero {
  background: #fdfaf6;
  cursor: default;
}

header.hero h1 {
  color: #8b8680;
}

section {
  color: #5f5f5f;
  text-align: center;
  margin-bottom: 5em;
}

section header{
  font-family: serif, sans-serif;
  position: relative;
  color: #333333;
  font-size: 3em;
  font-weight: bold;
}

section header::after {
  color: black;
  display: block;
  background-color: black;
  height: 10px;
  width: 120px;
  content: "";
  margin: 0.2em auto 1em;
}

section h5 {
  color: #333333;
}

section#current-goal p {
  font-size: 1.2em;
  padding: 0 18px;
}

button#download {
  margin-top: 10px;
  padding: 25px;
  border-radius: 10px;
  border: 10px solid #c8c2bb;
  background-color: #ccc5d0;
  color: #5f5f5f;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  transition-duration: 0.5s;
}

button#download:hover {
  color: #f4f0ec;
  transform: translateY(-5px);
}

div.card-personal {
  text-align: left;
  box-sizing: border-box;
  background-color: #ccc5d0;
  border-radius: 10px;
  box-shadow: gray 5px 5px 5px;
  padding: 10px 10px 10px;
  margin: 0px 0px 1rem;
  transition-duration: 0.2s;
  cursor: default;
}

div.score {
  cursor: default;
  display: inline-block;
  margin: 8px 0px;
}

div.card-personal:hover {
  transform: translateY(-5px);
}

section#languages img{
  transition-duration: 0.3s;
}

section#languages img:hover {
  transform: translateY(-3px);
}

footer#mobile-footer {
  display: none;
}

@media (width <= 768px) {
  footer#mobile-footer {
    display: flow-root;
    padding: 25px 0px 0px;
    background-color: #fdfaf6;
    text-align: center;
    font-family: serif, sans-serif;
  }
  
  footer#mobile-footer a, footer#mobile-footer a:visited {
    text-decoration: none;
    color: #8b8680;
    font-size: 1.2em;
    font-family: serif, sans-serif;
  }
  
  footer#mobile-footer a:hover, footer#mobile-footer a:active  {
    text-decoration: none;
    color: #ccc5d0;
    font-size: 1.2em;
    font-family: serif, sans-serif;
  }

  footer#mobile-footer > div.socials {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-bottom: 20px;
  }

  footer#mobile-footer > div.socials > * {
    border: 3px solid #8b8680;
    padding: 5px 5px 3px;
    transition-duration: 0.4s;
    box-shadow: black -3px 3px;
  }

  footer#mobile-footer > div.socials > *:hover {
    transform: translateY(-5px);
  }
  
  footer#mobile-footer i {
    font-size: 2em;
  }
}
