.title {
	text-align: center;
	padding-top: 10px;
	font-family: "DM-Sans", "DM Sans", "Big Caslon", courier, sans-serif;
}

body {
	margin: 0px;
	font-family: "DM-Sans", "DM Sans", sans-serif;
	background: #f4f0ec;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

article {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid black;
}

section {
	margin-left: 25px;
	margin-bottom: 25px
}

cite {
	font-style: italic;
}

.indent {
	text-indent: 2em;
}

footer {
	text-align: center;
}

.separator {
	font-size: 15px;
}

.accessiblity-button {
	color: white;
}